body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/*  #region header */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.logo .logo-part {
  color: #2e2f42;
}

.section-header {
  border-bottom: 1px solid #e7e9fc;
}

.nav-link {
  padding: 24px 0;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.contacts-list {
  gap: 40px;
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts {
  margin-left: auto;
  font-style: normal;
}

.contacts-link {
  padding: 24px 0;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

/* #endregion header */

/* #region baner */
.section-baner {
  padding-bottom: 188px;
  height: 600px;
  background-color: #2e2f42;
}

.section-baner {
  padding: 188px 0;
}

.main-title {
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.order-service-button {
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.order-service-button:hover,
.order-service-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/* #endregion baner */

/* #region our principles */

.principles-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.principles-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.principles-list {
  gap: 24px;
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;

}

.principles-item {
  width: calc((100% - 24px * 3) / 4);
}

.principles-title {
  margin-bottom: 8px;
}

.our-principles {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* #endregion our principles */

/* #region our team */
.our-team {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.team-container {
  background-color: #f4f4fd;
}

.team-main-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.team-item .team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-item .team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 24px * 3) / 4);
  background-color: #fff;
}

.team-list {
  gap: 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team-item-info {
  padding: 32px 0;
}

.team-title {
  text-align: center;
  margin-bottom: 8px
}

.team-text {
  text-align: center;
}

/* #endregion our team */

/* #region our portfolio */

.our-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-main-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-item .portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-item .portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-list {
  column-gap: 24px;
  row-gap: 48px;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-info {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-title {
  margin-bottom: 8px;
}

/* #endregion our portfolio */

.page-footer {
  padding: 100px 0;
  background-color: #2e2f42;

}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.page-footer .logo .logo-part {
  color: #f4f4fd;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
}